/*---------------------------------------------- General Styles --------------*/
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: #003348;
}

section {
    margin-top: 40px ;
}


/* original code credit: https://css-tricks.com/snippets/jquery/smooth-scrolling/*/
html {
    scroll-behavior: smooth;
}

/*---------------------------------------------- Specific Heading Styles ----------------*/

.hero-text{
    text-align: center;
}

.text-center {
    text-align: center;
}

.sections-title {
    position: relative;
    font-weight: 300;
    padding-bottom: 1%;
    font-size: 30px;
    color: #163a51;
}

h2:after {
    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    background: #005073;
    bottom: 0;
    border-radius: 999px;
    left: 45%
}

.checklist-headings{
    font-size: 20px;
    font-weight: 500;
    color: #163A51;
    padding-top: 50px;
}

/*--------------------------------------------------------Hero Image -------------------*/

.hero-image {
    background-position: 71%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*----------------------------------------------------------Nav bar ---------------------*/

/* Centered navbar section inside the top navigation */ 
/* original code https://www.w3schools.com/howto/howto_css_topnav_centered.asp */

/* Hide logo for larger screens becuase of position */
@media (min-width: 990px){
    #logo{
        display: none;
    }}
    
    /* Hide logo for smaller screens becuase of position */
    @media (max-width: 990px){
    #desktop-logo{
        display: none;
    }}
    
    .navbar {
        box-shadow: none;
        background-color: #fafafa;
        background-color: rgba(0, 0, 0, 0);
        top: 0;
        width: 100%;
        transition: top 0.3s;
        font-weight: 400;
    }
    
    .navbar-left{
        margin-right: 20px;
    }